#footer {
	background-color: #000 !important;
}

footer {
	margin-top: 100px;
}

#footer-youtube {
	color: $youtube;
}

#footer-twitter {
	color: $twitter;
}

#footer-instagram {
	color: $instagram;
}

#footer-facebook {
	color: $facebook;
}